.layout {
  width: 100%;

  &__link {
    text-decoration: none;
    color: cornflowerblue;
    font-size: 24px;
  }

  &__header {
       width: 100%;
  }

}

.ant-input-group-addon {
  background-color: red;
}

.ant-input-group-addon:first-child {
  background-color: #4096FF;
}

.ant-input-group-addon:last-child {
  background-color: blue;
}
