.layout {
  width: 100%;

  &__link {
    text-decoration: none;
    color: #82aac0;
    font-size: 34px;
  }

  &__header {
       width: 100%;
  }

}

.ant-input-group-addon:first-child {
  background-color: #4096FF;
}
