.podcastDetails {

  &__image {
    width: 100%;
    text-align: center;
    cursor: pointer;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }

  &__text {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    font-style: italic;
  }
}
